body {
    text-align: center;
}

h2 {
    margin-bottom: 0.5em;
}

h3 {
    margin: 0;
    text-align: center
}

ul {
    padding-left: 1em;
}

ul li {
    margin: 0.2em auto;
}

.instruction {
    text-align: left;
    width: 505px;
    margin: 0 auto;
}

.key {
    border: 1px solid black;
    border-radius: 10%;
}

#stat {
    margin-bottom: -2.5em;
}
